@model EmployeeViewModel



<h1>Add New Employee</h1>
<br />
<br />


<div class="row mb-3">
    <div class="col-8">
        <form asp-action="Create" asp-controller="Employee" enctype="multipart/form-data" method="post">
            <partial name="PartialViews/CreateUpdatePartialView" model="@Model"/>

            
          
        </form>
    </div>
</div>


@section Scripts {
            <partial name="_ValidationScriptsPartial" />
}